<div class="nav-items">
    <div class="nav-item">
        <fa-icon [icon]="faDashboard"></fa-icon>
        <span>Dashboard</span>
    </div>
    <div class="nav-item">
        <fa-icon [icon]="faAddressCard"></fa-icon>
        <span>About Me</span>
    </div>
    <div class="nav-item">
        <fa-icon [icon]="faCircleInfo"></fa-icon>
        <span>Help me</span>
    </div>
    <div class="nav-item">
        <fa-icon [icon]="faAddressBook"></fa-icon>
        <span>Contact</span>
    </div>
</div>