<div class="widget-container">
    <div class="benefit yellow">
        <div class="icon">
            <fa-icon [icon]="faGasPump"></fa-icon>
        </div>
        <div class="value">
            <div class="top"><span>6.08</span> tons</div>
            <div class="bottom">Standard coal saved</div>
        </div>
    </div>
    <div class="benefit red">
        <div class="icon">
            <fa-icon [icon]="faIndustry"></fa-icon>
        </div>
        <div class="value">
            <div class="top"><span>7.22</span> tons</div>
            <div class="bottom">CO<sub>2</sub> avoided</div>
        </div>
    </div>
    <div class="benefit green">
        <div class="icon">
            <fa-icon [icon]="faTree"></fa-icon>
        </div>
        <div class="value">
            <div class="top"><span>10</span></div>
            <div class="bottom">Equivalent trees planted</div>
        </div>
    </div>
</div>
