<div class="widget-container">
    <div class="widget green">
        <div class="icon">
            <fa-icon [icon]="faSun"></fa-icon>
        </div>
        <div class="value">
            <div class="top"><span>1200</span> W</div>
            <div class="bottom">Current Power</div>
        </div>
    </div>
    <div class="widget yellow">
        <div class="icon">
            <fa-icon [icon]="faSolarPanel"></fa-icon>
        </div>
        <div class="value">
            <div class="top"><span>230</span> MWh</div>
            <div class="bottom">Total Yield</div>
        </div>
    </div>
    <div class="widget red">
        <div class="icon">
            <fa-icon [icon]="faPiggyBank"></fa-icon>
        </div>
        <div class="value">
            <div class="top"><span>3254</span> €</div>
            <div class="bottom">Savings</div>
        </div>
    </div>
</div>